/* Color Palette */
:root {
    --primary: #6C63FF;
    --background: #F7F7FF;
    --text-dark: #291720;
    --button: #177E89;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 15px 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.search-bar {
    flex: 2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.auth-buttons button {
    background-color: var(--button);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-buttons button:hover {
    background-color: #0f5b5e;
}

/* Layout */
main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px; /* Fixed width for the form */
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-dark);
}

.form-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.login-button, .register-button {
    background-color: var(--button);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.login-button:hover, .register-button:hover {
    background-color: #0f5b5e;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--text-dark);
    color: white;
    padding: 15px 20px;
    margin-top: auto;
}